<header class="inner header-component">
  <script type="module" src="/scripts/kakaoLogin.js"></script>
  <div>
    <a href="/pages/main/index.html">
      <img src="/public/images/headerLogo.png" alt="디지털하나로 로고" />
    </a>
    <ul>
      <li><a href="/pages/introduction/index.html">소개</a></li>
      <li><a href="/pages/career/index.html">채용</a></li>
      <li>
        <a href="/pages/curriculum/calendar/index.html">교육</a>
      </li>
      <li>
        <a href="/pages/community/notice/index.html">커뮤니티</a>
      </li>
    </ul>
    <div>
      <button type="button" id="login">카카오<br />로그인</button>
      <button>로그인</button>
    </div>

    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
      window.Kakao.init('70ea0bfda7dfa09b98fb24b01114d26f');
    </script>
  </div>
</header>
