<div>
  <a href="/pages/main/index.html">
    <img src="/public/images/헤더이모티콘.png" alt="디지털하나로 로고" />
  </a>
  <ul>
    <li><a href="/pages/introduction/index.html">소개</a></li>
    <li><a href="/pages/career/index.html">지원</a></li>
    <li>
      <a href="/pages/curriculum/calendar/index.html">교육</a>
    </li>
    <li>
      <a href="/pages/community/notice/index.html">커뮤니티</a>
    </li>
  </ul>
  <div class="btnDiv">
    <button type="button" id="login">로그인</button>
  </div>
  <div class="whateat">
    <a href="/pages/main/lunch/index.html"> 오늘 뭐먹지 </a>
  </div>
  <div class="imo">
    <img src="/public/images/header.svg" />
  </div>
  <div class="sideBar">
    <ul>
      <li><button type="button" id="login2">로그인</button></li>
      <li><a href="/pages/career/index.html">지원</a></li>
      <li><a href="/pages/curriculum/calendar/index.html">교육</a></li>
      <li><a href="/pages/community/notice/index.html">커뮤니티</a></li>
    </ul>
  </div>
</div>
