<div>
  <a href="/pages/main/index.html">
    <img id="headerLogoImg" src="/public/images/headerLogo.png" />
  </a>
  <ul>
    <li>
      <a class="link__introduction" href="/pages/introduction/index.html"
        >소개</a
      >
    </li>
    <li>
      <a class="link__career" href="/pages/career/index.html">지원</a>
    </li>
    <li>
      <a class="link__curriculum" href="/pages/curriculum/calendar/index.html"
        >교육</a
      >
    </li>
    <li>
      <a class="link__community" href="/pages/community/notice/index.html"
        >커뮤니티</a
      >
    </li>
  </ul>
  <div class="btnDiv">
    <button type="button" id="login">로그인</button>
  </div>
  <div class="imo">
    <img id="menuButton" src="/public/images/header.svg" />
  </div>
  <div class="sideBar">
    <ul>
      <li>
        <a type="button" id="login2"> 로그인 </a>
      </li>
      <li><a href="/pages/career/index.html">지원</a></li>
      <li><a href="/pages/curriculum/calendar/index.html">교육</a></li>
      <li><a href="/pages/community/notice/index.html">커뮤니티</a></li>
      <li><a href="/pages/main/lunch/index.html"> 오늘 뭐먹지 </a></li>
    </ul>
  </div>
</div>
