@media (min-width: 75.625rem) {
  .intro {
    display: none;
  }
  .blind {
    display: none;
  }
  .introCardsContainer {
    display: none;
  }
  .talent {
    display: none;
  }
  .timeline {
    display: none;
  }
}

@media (max-width: 75.625rem) {
  .intro {
    width: 100%;
    padding: 6.25rem 1.5rem;
  }
  img,
  video {
    max-width: 95vw;
    overflow: hidden;
  }
  .introHeader {
    height: 5.5vh;
  }
  .blind {
    display: none;
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
  }
  .introHeading {
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
  }
  .introCardsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  .introCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 30px 50px 0px rgba(5, 1, 64, 0.06);
  }
  .introCard > :nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
  }
  .introCard > :nth-child(2) {
    display: flex;
    width: 90vw;
    justify-content: center;
    align-items: center;
    height: 27vh;
    background-color: #fff;
    border-radius: 0.3125rem;
    margin-top: 4vh;
  }
  .cardText {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.625rem;
  }
  .cardImage {
    width: 150px;
    height: 9.375rem;
    display: flex;
    justify-content: center;
  }
  .cardContent {
    font-size: 1rem;
    color: #4e5968;
  }
  .introCardHeader {
    font-size: 1.5rem;
    font-weight: bold;
    color: #008485;
    margin-bottom: 0.625rem;
  }
  .talent {
    width: 100%;
    padding: 4rem 1.5rem;
    background-color: #fff;
    box-shadow: 0px 30px 50px 0px rgba(5, 1, 64, 0.06);
  }
  .talentImgContainer > img {
    width: 100%;
  }
  .white-article {
    background-color: #fff;
  }
  .sectionHeader {
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
  }
  .talentSubtitle {
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.2;
  }
  .talentText {
    color: #6b7684;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .talentImgContainer {
    margin-bottom: 2rem;
  }
  .animationHidden {
    opacity: 0;
  }
  .animationFadeIn {
    opacity: 1;
    transition: all 0.8s ease-out;
  }
  .timelineItem {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .timelineHeader {
    grid-column: span 2 / span 2;
    font-size: 0.7rem;
    font-weight: bold;
    color: #b1b1b1;
    position: relative;
    box-shadow: 10px 0 5px -5px #999;
  }
  .timeline {
    width: 100%;
    padding: 4rem 1.5rem;
    background-color: #fff;
  }
  .timelineHeader p {
    position: absolute;
    left: 2vw;
    top: 0;
    margin: 0;
  }
  .timelineContents {
    position: relative;
    grid-column: span 9 / span 9;
    border-left: 3px solid var(--primary-color);
    width: 100%;
  }
  .timelineDot {
    position: absolute;
    left: -1rem;
    top: -0.9rem;
  }
  .timelineList {
    padding-bottom: 1rem;
    padding-left: 2rem;
    margin: 0;
    border-top: 2px solid #eee;
    color: #6b7684;
    width: 100%;
  }
  .timelineiListItem {
    width: 100%;
    margin-left: 3vw;
    text-decoration: dotted;
  }
  .timelineListItem::marker {
    color: var(--primary-color);
    font-size: 1.5rem;
  }
}
