.career-component {
  width: 16.0625rem;
  height: 4.25rem;
  margin-top: 1.875rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  line-height: 150%;
}
.careerBoxAll-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 60rem;
  height: 9.6875rem;
  margin-top: 1.875rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.careerBoxOne-component {
  /*각 전형별 바깥 테두리*/
  width: 13.75rem;
  height: 7.75rem;
}
.process {
  width: 13.75rem;
  height: 2.25rem;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.1875rem;
}
.processText {
  display: table-cell;
  justify-content: center;
  width: 13.75rem;
  height: 5.5rem;
  align-items: center;
  border: 2px solid #008485;
  border-radius: 20px;
  line-height: 180%;
  text-align: center;
  vertical-align: middle;
}

.benefit-component {
  width: 60rem;
  height: 4.25rem;
  margin-top: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 150%;
  text-align: center;
}
.benefitBoxAll-component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60rem;
  height: 21.25rem;
  margin: 1.875rem auto;
  text-align: center;
  align-items: center;
}
.benefitBox-component {
  width: 57rem;
  height: 9rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.benefitBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 430px;
  height: 9rem;
}
.benefitBoxTitle {
  width: 21rem;
  height: 2.75rem;
  color: #008485;
  margin-top: 0.5rem;
  margin-bottom: 0.625rem;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
}
.benefitBoxText {
  width: 25.75rem;
  height: 5.5rem;
  margin-top: 2%;
  font-size: 1rem;
  line-height: 170%;
}
