@media (min-width: 75.625rem) {
  .careerMain {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .careerTitle {
    font-size: 2.8125rem;
    font-weight: bold;
  }
  .careerComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6.25rem 0;
  }
  .imgBox {
    width: 150px;
    height: 9.375rem;
    display: flex;
    justify-content: center;
  }
  .careerFirstContent > div {
    display: flex;
    align-items: center;
    margin-top: 1.875rem;
  }
  .contentContext {
    width: 27.5rem;
    padding-top: 0.625rem;
    margin-left: 30px;
  }
  .careerSubTitle {
    font-size: 1.75rem;
    font-weight: bold;
    color: #008485;
    margin-bottom: 0.625rem;
  }
  .careerText {
    font-size: 1.25rem;
    margin: 0;
  }
  .careerProcess {
    width: 59.375rem;
    display: flex;
    justify-content: space-between;
    margin-top: 2.1875rem;
  }
  .careerProcessBox {
    width: 13.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .careerProcessBox > p {
    font-size: 1.1rem;
    border: 0.125rem solid #008485;
    border-radius: 1.25rem;
    width: 13.75rem;
    height: 6.25rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .careerBenefit {
    margin-top: 1.25rem;
  }
  .careerBenefitRow {
    display: flex;
    width: 56.25rem;
    justify-content: space-between;
    margin-top: 1.875rem;
  }
  .careerBenefitBox {
    width: 25.75rem;
  }
  .careerBenefitBox > div {
    padding: 0 1.25rem;
  }
  .careerFaq {
    width: 62.5rem;
  }
  .careerFaqBox {
    margin-top: 1.875rem;
  }
  .careerFaqBox > div {
    padding: 0 1.25rem;
  }
  p {
    margin: 0;
  }
}

@media (max-width: 75.625rem) {
  .careerMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #f2f4f6;
  }
  .careerTitle {
    width: 340px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .careerComponent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6.25rem 1.5rem;
  }
  .careerSecondComponent {
    background-color: #fff;
    box-shadow: 20px 0px rgba(5, 1, 64, 0.06);
  }
  .imgBox {
    width: 150px;
    height: 9.375rem;
    display: flex;
    justify-content: center;
  }
  .careerFirstContent > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.875rem;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 30px 50px 0px rgba(5, 1, 64, 0.06);
  }
  .contentContext {
    width: 100%;
    padding-top: 0.625rem;
  }
  .contentContext > ul {
    margin-left: 30px;
  }
  .careerSubTitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #008485;
    margin-bottom: 0.625rem;
  }
  .careerText {
    font-size: 1rem;
    color: #4e5968;
  }
  .careerProcess {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.1875rem;
  }
  .careerProcessBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }
  .careerProcessBox > p {
    font-size: 1.3rem;
    border: 0.125rem solid #008485;
    border-radius: 1.25rem;
    width: 16rem;
    height: 8rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 30px 50px 0px rgba(5, 1, 64, 0.06);
  }
  .careerBenefit {
    margin-top: 35px;
  }
  .careerBenefitRow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .careerBenefitBox {
    margin-bottom: 25px;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 30px 50px 0px rgba(5, 1, 64, 0.06);
  }
  .careerBenefitBox > div {
    padding: 0 0.5rem;
  }
  .careerLastComponent {
    background-color: #fff;
    box-shadow: 20px 0px 0px 0px rgba(5, 1, 64, 0.06);
  }
  .careerFaqBox {
    margin-top: 1.875rem;
  }
  .careerFaqBox > div {
    padding: 0 0.5em;
  }
  .careerFaqBox > ul {
    margin-left: 1.5rem;
    padding-right: 0.5rem;
  }
  p {
    margin: 0;
  }
}
