@media (min-width: 75.625rem) {
  .footer-component {
    height: 10.9375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px #ecf0f1 solid;
    position:sticky;
    width:100%;
  }
  .footer-component > div {
    width: 60rem;
    height: 7.1875rem;
    display: flex;
    justify-content: space-between;
  }
  .left {
    width: 20.6875rem;
    display:flex;
    flex-direction: column;
    margin:0;
  }
  .about-link {
    display: flex;
    align-items: center;
  }
  .about-link > a {
    width: 4.375rem;
    height: 0.4125rem;
    font-size: 13px;
    color: #008485;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }
  .about-link > a:hover {
    font-weight: bold;
  }
  .about-text {
    margin-top: .625rem;
    height: 4rem;
  }
  
  .left-p_black {
    width: 20.6875rem;
    font-size: 0.8125rem;
  }
  
  .left-p_gray {
    width: 20.6875rem;
    font-size: 0.75rem;
  
    color: #d1d6db;
  }
  
  .right {
    display: flex;
    flex-direction: column;
    margin:0;
    width: 20.6875rem;
    height: 7.1875rem;
  }
  
  .right-up {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 3rem;
    list-style: none;
  }
  .right-up > :first-child {
    height: 1.25rem;
    font-size: 1rem;
    color: #008485;
  }
  .right-up > :last-child {
    height: 1.75rem;
    font-size: 1.375rem;
  }
  
  .right-down {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 3rem;
    margin-top: .625rem;
    list-style: none;
  }
  .right-down > :first-child {
    height: 1.25rem;
    font-size: 1rem;
    color: #008485;
  }
  .right-down > :last-child {
    height: 1.75rem;
    font-size: 1.375rem;
  }
  
}

@media ((min-width: 22.5rem) and (max-width: 75.625rem)) {
  .right {
    display: none;
  }
  .footer-component {
    height: 10.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px #ecf0f1 solid;
    position: sticky;
    width: 95vw;
  }
  .footer-component > div {
    width: 100%;
    height: 7.1875rem;
    display: flex;
    justify-content: center;
  }
  .left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .about-link {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }
  .about-link > a {
    height: 0.4125rem;
    font-size: 0.8125rem;
    color: #008485;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-align: center;
  }
  .about-link > a:hover {
    font-weight: bold;
  }
  .about-text {
    margin-top: 0.625rem;
    height: 4rem;
    width: 100%;
  }

  .left-p_black {
    text-align: center;
    font-size: 0.8125rem;
  }

  .left-p_gray {
    text-align: center;
    font-size: 0.75rem;

    color: #d1d6db;
  }
}
