<footer class="inner footer-component">
    <div>
      <div class="left">
        <div class="about-link">
          <p>About US</p>
          <p>GitHub</p>
          <p>OpenAPI</p>
          <p>ETC</p>
        </div>
        <div class="about-text">
          <p class="left-p_black">
            서울특별시 중구 을지로 35 (을지로1가, 하나은행)
          </p>
          <p class="left-p_black">
            서울 성동구 아차산로 111 2층 (알파코 제2캠퍼스)
          </p>
          <p class="left-p_gray">
            COPYRIGHT(C) Hana Bank. ALL RIGHTS RESERVED
          </p>
        </div>
      </div>
      <div class="right">
        <div class="right-up">
          <div>하나은행 고객센터</div>
          <div>1588-1111 / 1599-1111</div>
        </div>
        <div class="right-down">
          <div>알파코 제2캠퍼스</div>
          <div>0507-1336-5730</div>
        </div>
      </div>
    </div>
  </footer>