@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

canvas {
  transition: 2s;
}

main {
  height: 39.9375rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 1.875rem;
}

button:active {
  background: #444;
  color: #f9f9f9;
}

.roullet-component {
  height: 24.125rem;
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.roullet-canvas {
  position: relative;
  display: flex;
  justify-content: center;
  width: 25rem;
}
.roullet-component > :first-child {
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: center;
  position: relative;
}

.roullet-component > :last-child {
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.rullet-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 13.75rem;
  height: 5.625rem;
  margin-bottom: 1.875rem;
}

.rullet-top-title {
  color: #008375;
  font-size: 2.1875rem;
  height: 3.5625rem;
}

.rullet-top-subtitle {
  font-size: 0.9375rem;
  color: #6b7684;
}
.roullet-component {
  position: relative;
}
.rul-cursor {
  position: absolute;
  right: 1rem;
  top: -2.2rem;
}

.rullet-button {
  width: 13.75rem;
  height: 3.125rem;
  margin: 0 auto;
  margin-top: 1.875rem;
  border: none;
  list-style: none;
  background-color: #008375;
  color: white;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3125rem;
  cursor: pointer;
}
.rullet-button:hover {
  font-weight: bold;
}

.list-component {
  height: 12rem;
  width: 60rem;

  display: flex;
  justify-content: space-between;
}

.pick-list {
  width: 28rem;
  height: 100%;
}
.pick-list-title {
  width: 100%;
  height: 3.2rem;
  text-align: center;
  font-size: 2.1875rem;
  border-bottom: 0.0625rem solid #008375;
}
.rullet-a-name1 {
  width: 100%;
}
.rullet-list {
  width: 50rem;
  height: 39.9375rem;
}
.rulletlist-list-name {
  width: 30%;
  color: #008375;
}
.rulletlist-list-address {
  width: 70%;
  text-align: right;
}
.rullet-list-name {
  display: flex;
  margin-top: 0.625rem;
  width: 100%;
  height: 2.5rem;
  align-items: center;
  justify-content: space-between;
}

a {
  color: inherit;
  text-decoration: none;
}

.rullet-keyword {
  color: #008375;
}
