.middle-component {
  display: flex;
  padding-top: 50px;
  justify-content: center;
  min-height: 50rem;
}
.aside {
  width: 16.25rem;
  display: flex;
  flex-direction: column;
}
.asideTitle {
  font-size: 1.75rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  color: #008485;
  border-bottom: 0.1875rem solid #008485;
}
.asideContentList {
  margin: 0rem;
  padding: 0rem;
}
.asideContent {
  height: 3rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #191f29;
  border-bottom: 0.0313rem #d1d6db solid;
}
.asideCommunityNotice {
  color: #008485;
}
.boardComponent {
  width: 39.375rem;
  display: flex;
  flex-direction: column;
  margin-left: 4.375rem;
}
.boardSubject {
  padding-bottom: 2.5rem;
  font-size: 2.375rem;
  font-weight: bold;
  color: #191f29;
}
.boardTop {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.25rem;
  border-bottom: 0.0313rem #6b7684 solid;
}
.boardSearchBar {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.boardSearchInput {
  width: 16.75rem;
  height: 1.8125rem;
  margin-right: 0.625rem;
}
.boardPostingButton {
  width: auto;
}
.boardPosting:hover {
  color: #008485;
}
.boardList {
  min-height: 34.375rem;
  margin: 0rem;
  padding: 0rem 0.625rem;
}
.boardContent {
  height: 3.125rem;
  display: flex;
  align-items: center;
  list-style: none;
  border-bottom: 0.03rem #d1d6db solid;
}
.boardContent > a {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.boardContentInformation {
  display: flex;
}
.boardContentDate {
  margin-left: 1.25rem;
}
.boardPage {
  width: 100%;
  display: flex;
  justify-content: center;
}
.boardPage > a {
  width: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #ffffff 1px solid;
}
.boardPage > a:hover {
  width: 23px;
  border: #008485 1px solid;
}
.firstPage {
  background-position: 3px -146px;
  background-image: url(https://image.kebhana.com/cont/common/img/common/sp_paging.png);
  background-repeat: no-repeat;
  border: 1px solid #fff;
  font-size: 0;
  line-height: 0;
}
.firstPage:hover {
  background-position: 3px -171px;
  background-image: url(https://image.kebhana.com/cont/common/img/common/sp_paging.png);
}
.prevPage {
  background-position: 4px -96px;
  background-image: url(https://image.kebhana.com/cont/common/img/common/sp_paging.png);
  background-repeat: no-repeat;
  border: 1px solid #fff;
  font-size: 0;
  line-height: 0;
}
.prevPage:hover {
  background-position: 4px -121px;
  background-image: url(https://image.kebhana.com/cont/common/img/common/sp_paging.png);
}
.nextPage {
  background-position: -33px -96px;
  background-image: url(https://image.kebhana.com/cont/common/img/common/sp_paging.png);
  background-repeat: no-repeat;
  border: 1px solid #fff;
  font-size: 0;
  line-height: 0;
}
.nextPage:hover {
  background-position: -33px -121px;
  background-image: url(https://image.kebhana.com/cont/common/img/common/sp_paging.png);
}
.endPage {
  background-position: -32px -146px;
  background-image: url(https://image.kebhana.com/cont/common/img/common/sp_paging.png);
  background-repeat: no-repeat;
  border: 1px solid #fff;
  font-size: 0;
  line-height: 0;
}
.endPage:hover {
  background-position: -32px -171px;
  background-image: url(https://image.kebhana.com/cont/common/img/common/sp_paging.png);
}
button {
  width: 6.125rem;
  height: 1.8125rem;
  color: #008485;
  border: #008485 0.0625rem solid;
  border-radius: 0.1563rem;
  background-color: #ffffff;
  cursor: pointer;
}
