.chatbotWrapper {
  position: relative;
}

.chatbotButton {
  position: absolute;
  bottom: 0;
  left: 3rem;
  /* right: 0; */
  background-color: white;
  width: 4rem;
  height: 4rem;
  text-align: center;
  font-size: 2rem;

  line-height: 4rem;

  /* border: 0.2px solid grey; */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 1rem;
  transition: all 0.2s;
}
.chatbotButton:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 8px 16px rgba(0, 0, 0, 0.22);
}

.modalBackground {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
}
.modalContainer {
  display: flex;
  flex-direction: column;
}
.chatbotModal {
  position: absolute;
  top: calc(50vh);
  left: calc(50vw);
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 400px;
  height: 800px;
}
.hidden {
  display: none;
}
.chatbotHeader {
  /* position: relative; */
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eeecec;
  padding: 1rem;
  width: 100%;
}
.headerLogo {
  border-radius: 0.75rem;
  width: 30px;
  height: 30px;
}
.headerTitle {
  line-height: 30px;
  width: 100%;
  margin: 0 0 0 0.5rem;
  font-weight: bold;
  text-align: left;
}
.headerGear {
  /* display: block; */
  width: 20px;
  height: 20px;
  vertical-align: center;
  color: rgb(145, 162, 220);
}
.contentCard {
  width: 100%;
}
.chatTime {
  width: 100%;
  text-align: center;
  font-size: 0.75rem;
  color: #999;
  font-weight: bold;
}
.chatName {
  font-size: 0.8rem;
  color: #999;
  padding: 0 0 0 0.25rem;
  margin: 0 0 0 0.25rem;
}
.chatName.left {
}
.chatName.right {
}
.chatItemWrapper {
  display: flex;
  align-items: end;
  margin: 0.25rem;
}
.chatItemContainer {
  background-color: #eee;
  max-width: 90%;
  padding: 1rem;
  margin: 0;
  margin-left: 0.25rem;
  border-radius: 1rem;
}
.messageSpan {
  display: block;
}
