@media (max-width: 75.625rem) {
  .chatbotWrapper {
    position: fixed;
    bottom: 7vh;
    right: 2vw;
    z-index: 9999;
  }
  .chatbotButton {
    width: 3.5rem;
    height: 3.5rem;
    justify-content: center;
  }
  .chatbotButtonImage {
    width: 1.4rem;
    height: 1.4rem;
  }
  .modalContainer {
    top: calc(47vh);
    left: calc(50vw);
    width: 23.125rem;
    height: 37.5rem;
    overflow: scroll;
  }
  button {
    background: inherit;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    overflow: visible;
    cursor: pointer;
  }
  .chatbotFooter {
    margin-top: 1rem;
  }
}
