@media(max-width: 75.625rem) {
  .chatbotWrapper{
      position: fixed;
      bottom: 2vh;
      right: 2vw;
      z-index: 9999;
  
    }
    .chatbotButton{
      width: 3.5rem;
      height: 3.5rem;
      text-align: center;
      line-height: 4rem;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      border-radius: 50%;
      transition: all 0.2s;
      cursor: pointer;
      background-image: linear-gradient(#b5abff, #888cf6);
      align-items: center;
      display: inline-flex;
      justify-content: center;
    }
    .chatbotButtonImage {
      width: 1.4rem;
      height: 1.4rem;
      margin: 0 0.7813rem;
    }
    ul,
    ol,
    li,
    a,
    input,
    select,
    textarea {
      margin: 0;
      padding: 0;
      border: 0 none;
    }
    .characterContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem 0 0 0;
    }
    .profileTitle {
      font-size: 1.25rem;
      font-weight: bold;
      margin: 1rem 0 0 0;
    }
    .profileImage {
      width: 38.87px;
      height: 36.57px;
      margin: 0 28.57px;
    }
    .response {
      font-size: 0.8rem;
      color: #777;
    }
    .chatTime {
      width: 100%;
      text-align: center;
      font-size: 0.75rem;
      color: #999;
      font-weight: bold;
    }
    .chatName {
      font-size: 0.8rem;
      color: #999;
      padding: 0 0 0 0.25rem;
      margin: 0 0 0 0.25rem;
    }
    .chatItemWrapper {
      display: flex;
      align-items: end;
      margin: 0.25rem;
    }
    .chatLogoBox {
      display: inline-flex;
      align-items: center;
      text-align: center;
      width: 30px;
      height: 30px;
      background-image: linear-gradient(#b5abff, #888cf6);
      border-radius: 50%;
    }
    
    .chatItemContainer {
      background-color: #eee;
      max-width: 90%;
      padding: 1rem;
      margin: 0;
      margin-left: 0.25rem;
      border-radius: 1rem;
    }
    .messageSpan {
      display: block;
    }
    .modalBackground {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.8);
      z-index: 100;
    }
    .modalContainer {
      position: fixed;
      top: calc(47vh);
      left: calc(50vw);
      transform: translate(-50%, -50%);
      width: 85vw;
      height: 600px;
      border-radius: 10px;
      z-index: 10000;
      overflow: hidden;
      overflow-y: scroll;
    }
    .chatbotModal {
      background-color: white;
    }
    .hidden {
      display: none;
    }
    .chatbotHeader {
      position: sticky;
      top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #eeecec;
      padding: 1rem;
      width: 100%;
    }
    .chevronLeft {
      margin-right: 0.5rem;
      cursor: pointer;
    }
    .headerLogo {
      width: 13px;
      height: 12.24px;
      margin: 0 0.5rem;
    }
    .headerTitle {
      line-height: 30px;
      width: 100%;
      margin: 0 0 0 0.5rem;
      font-weight: bold;
      text-align: left;
    }
    .headerGear {
      width: 20px;
      height: 20px;
      vertical-align: center;
      color: rgb(145, 162, 220);
    }
    .characterContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .profileTitle {
      font-size: 1.25rem;
      font-weight: bold;
      margin: 1rem 0 0 0;
    }
    .profileImageBox {
      width: 96px;
      height: 96px;
      border-radius: 50%;
      background-image: linear-gradient(#b5abff, #888cf6);
      align-items: center;
      display: inline-flex;
    }
    .response {
      font-size: 0.8rem;
      color: #777;
    }
    button {
      background: inherit;
      border: none;
      box-shadow: none;
      border-radius: 0;
      padding: 0;
      overflow: visible;
      cursor: pointer;
    }
    .qnaButton,
    .qnaButtonSelected {
      padding: 0.5rem 1rem;
      border: 0.5px solid #ccc;
      color: #444;
      margin: 0.25rem;
      width:50vw;
      border-radius: .25rem;
      font-weight: bold;
      display: inline-block;
      justify-content: space-between;
    }
    .buttonIcon {
      font-size: 1.125rem;
      line-height: 1.125rem;
      margin-right: 0.25rem;
      pointer-events: none;
    }
    .buttonText {
      line-height: 1.125rem;
      pointer-events: none;
    }
    .chatbotButtons {
      display: flex;
      justify-content: end;
      flex-wrap: wrap;
    }
    .contentCard {
      width: 100%;
    }
    .resItem {
      text-align: right;
      padding-bottom: 1rem;
    }
    .chatbotFooter {
      position: sticky;
      bottom: 0;
      margin-top: 100px;
      height: 3rem;
      line-height: 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 0.8px solid #a7a0ec;
      background-color: white;
    }
    .chatbotFooter > form {
      display: block;
      width: 80%;
    }
    .messageInputForm {
      margin: 0 0 0 1rem;
    }
    .messageInputForm > input {
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      padding: 0 0.5rem;
    }
    .sendImage {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 1rem 0 0;
      opacity: 0.5;
      width: 2rem;
      height: 2rem;
      z-index: 1;
    }
    .sendImage:hover {
      background-color: #a7a0ec;
      opacity: 0.9;
      border-color: vivid;
      z-index: 2;
      border-radius: 20%;
      cursor: pointer;
    }
    .sendImage.disabled:hover {
      background-color: initial;
      opacity: initial;
      border-color: initial;
      z-index: initial;
      border-radius: initial;
      cursor: initial;
    }
    .sendButton {
      z-index: 2;
    }
    #sendMessage {
      height: 1.875rem;
    }
}