@import url(./base-variables.css);
@font-face {
  font-family: 'Hana2';
  src: url('../public/fonts/Hana2-Regular.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hana2';
  src: url('../public/fonts/Hana2-Bold.otf') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Hana2';
  src: url('../public/fonts/Hana2-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hana2';
  src: url('../public/fonts/Hana2-Bold.ttf') format('woff');
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: 'Hana2', 'Notosans_Regular';
  box-sizing: border-box;
}
@media (min-width: 75.625rem) {
 body {
  margin:0;
  min-width: var(--screen-width); /* 1210px */
}

.inner {
  width: var(--inner-width);
  margin: 0 auto;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  outline: none;
  font-size: 1.0625rem;
}

a:hover,
a:active {
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: underline;
}

a {
  color: #191f29;
  text-decoration: none;
  outline: none;
}

a:hover,
a:active {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-color);
}

 }

@media ((min-width: 22.5rem) and (max-width: 75.625rem)) {
  body {
    margin:0;
    min-width: var(--mobile-width); /* 1210px */
  }
  
  .inner {
    width: var(--mobile-width);
    margin: 0 auto;
  }
  
  a {
    color: var(--primary-color);
    text-decoration: none;
    outline: none;
    font-size: 1.0625rem;
  }
  
  a:hover,
  a:active {
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: underline;
  }
  
  a {
    color: #191f29;
    text-decoration: none;
    outline: none;
  }
  
  a:hover,
  a:active {
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-color);
  }
  
   }
